/* font-family: "Abril Fatface", serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: "Crimson Pro", serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
/* font-family: "Fira Sans Condensed", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
/* font-family: "Roboto Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet');
/* font-family: "Lexend Deca", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
	background-image: url('../assets/bg/bg-python.svg');
	background-repeat: repeat;  
	background-size: 50px 50px;       
	background-position: center;
	transition: background-image 0.5s ease;
}
body.top {
    background-image: url('../assets/bg/bg-python.svg');
}




.md-header__ellipsis {
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 550;
	font-style: normal;
	font-size: x-large;
	
}
.md-header__topic:first-child {
    font-weight: 550;
}



.section-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;

}
.section-title {
	display: inline-block;
	/* font-family: "Roboto Serif", serif; */
	font-optical-sizing: auto;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.8rem;
	text-align: center;

	padding: 0 70px;
	background: linear-gradient(to right, transparent 0%, white 15%, white 85%, transparent 100%);
}
@media (max-width: 630px) {
	.section-title {
		padding: 0 40px;
	}
}
@media (max-width: 400px) {
	.section-title {
		font-size: 1.45rem;
	}
}



.md-nav__title {
	padding-top: 0.6rem;
}



.projectCard_container{
	display: block;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.13);
	border-radius: 12px;
	max-width: 850px;
	margin: 1rem auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.22);

	font-size: 0.7rem;
}
.lineSeparator {
	height: 1px;
	background-color: #eee;

}
/* First row */
.projectCard_row1{
	display: flex;
}
.projectCard_row1_col1{
	flex: 1;
	padding: 0 1rem;
	margin: auto;
}
.projectCard_row1_col1 .img_container {
	height: 60px;
	justify-content: center;
    align-items: center;
	margin: 10px;
}
.projectCard_row1_col1 .img_container img {
	display: block;
	height: 100%;
	margin: 0 auto;
}
.projectCard_row1_col1 h3 {
	margin-top: 0;
	text-align: center;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
}
.projectCard_row1_col2{
	flex: 1;
	padding: 1rem;
	margin: auto;
	text-align: justify;
}
.projectCard_row1_col2 p {
	font-style: italic;
	text-align: justify;
}
.projectCard_row1_col2 h4 {
	color: #919191;
}
/* Second row */
.projectCard_row2 {
	display: block;
	padding: 0.5rem;
	margin: auto;
	background-color: #eee;
}
.projectCard_container .projectCard_row2:last-of-type {
	border-radius: 0 0 12px 12px;
}
.projectCard_row2 p {
	display: none;
	text-align: justify;
	transition: max-height 0.3s ease-in-out;
}
.projectCard_row2 p.expanded {
	display: block;
}
.projectCard_row2 .links {
	display: none;
}
.projectCard_row2 .links ul {
	list-style: none;
	padding: 0;
	margin: 0.5rem 0;
}
.projectCard_row2 .links li {
	margin: 0;
}
/* Button */
.projectCard_row2 .seemore_desc_btn,
.projectCard_row2 .seemore_links_btn {
	display: block;
	padding: 4px 5px;
	border-radius: 4px;
	margin: 0 auto;
	color: #696969;
	font-weight: 600;
	text-transform: uppercase;

	cursor: pointer;
	transition: all 0.2s ease !important;
}
.projectCard_row2 .seemore_desc_btn:hover,
.projectCard_row2 .seemore_links_btn:hover {
	background-color: #d4d4d4;
	color: #5a5a5a;

}








.cards-container {
	display: flex;
	flex-wrap: wrap; 
	gap: 1.5rem; 
	justify-content: center;
	font-size: 0.7rem;
}
.cards-md {
	flex: 1 1 300px;
	background: white;
	border: 1px solid rgba(0,0,0,0.13);
	border-radius: 12px; 
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	padding: 1.2rem;
}
.cards-md-img {
	display: flex;
	height: 140px;
	justify-content: center;
    align-items: center;
}
.cards-md-img img {
	height: 100%;
	max-height: 140px;
	width: auto;
	margin: 8px auto;
	

}
.cards-md-badges {
	margin-top: 0;
	text-align: center;
}
.cards-md-area {
	color: #919191;
}
.cards-md-text {
	color: #444;
	text-align: justify;
}
.cards-md-link {
	text-decoration: none; 
	color: #007acc;
}





@media (max-width: 768px) {
  	.projectCard_row1{
		display: block;

	}
	.projectCard_row1_col1{
		padding-bottom: 0 ;
		margin-bottom: 0 ;
	}
	.projectCard_row1_col2{
		padding-top: 0 ;
		margin-top: 0 ;
		padding-bottom: 0 ;
	}
}